<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Features</title>
    {{> old-head}}
  </head>
  <body>
    <div class="container">
      {{> adminnav}}
      <div class="page-header text-center">
        <h1>Features</h1>
        <a href="/feature/new" class="btn btn-success">+ Add a new feature</a>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <th>Feature ID</th>
          <th>Name</th>
          <th>Display Name</th>
        </thead>
        <tbody>
          {{#each features}}
          <tr>
            <td><a href="/feature/{{ this.id }}">{{ this.id }}</a></td>
            <td><a href="/feature/{{ this.id }}">{{ this.name }}</a></td>
            <td><a href="/feature/{{ this.id }}">{{ this.display_name }}</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>